<div class="row page-header">
    <div class="col-sm-10">
        <h1>
            <img class="icon" src="~/icon.jpg">
            Welcome to IdentityServer4
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <p>
            Here are links to the
            <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
            and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
        </p>
        <p>
            Click
            <a asp-area="" asp-controller="Account" asp-action="Login">here</a>
            to login.
        </p>
    </div>
</div>

